<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
<!-- namespace : 매퍼 인터페이스의 경로 작성 -->
<mapper namespace="com.human.project.mapper.BoardMapper">

	<!-- 게시글 쓰기 -->
	<insert id="insert">
		INSERT INTO board ( title, user_id, content, tag )
		VALUES ( #{title}, #{userId}, #{content}, #{tag} )
	</insert>
	
	<!-- 게시글 읽기 -->
	<select id="read" resultType="Board">
		SELECT b.board_no, b.title, b.user_id, u.nickname, b.content, b.join_cnt, b.reg_date, b.upd_date
		FROM board b, users u
		WHERE board_no = #{boardNo}
		  AND b.user_id = u.user_id
	</select>
	
	<!-- 게시글 수정 -->
	<update id="update">
		UPDATE board
		   SET title = #{title}
		      ,content = #{content}
		      ,upd_date = now()
		WHERE board_no = #{boardNo}
	</update>
	
	<!-- 게시글 삭제 -->
	<delete id="delete">
		DELETE FROM board
		WHERE board_no = #{boardNo}
	</delete>
	
	<!-- 게시글 목록 - 검색/페이징/옵션 -->
	<select id="boardList" resultType="Board">
		<!-- SELECT b.board_no, b.title, u.nickname, b.content, 
				b.join_cnt, b.reg_date, b.upd_date -->
		SELECT b.board_no ,b.title ,IFNULL( u.user_id, '삭제된 계정입니다.') AS user_id
      		  ,b.content ,b.join_cnt ,b.reg_date ,b.upd_date, b.tag
		  FROM board b  LEFT JOIN users u ON u.user_id = b.user_id
		 WHERE (
		  		<if test="option.optionCode == 0">
						b.title LIKE CONCAT('%',#{option.keyword},'%')
				   OR u.nickname LIKE CONCAT('%',#{option.keyword},'%')
				   OR b.content LIKE CONCAT('%',#{option.keyword},'%')		  
		  		</if>
		  		<if test="option.optionCode == 1">
						b.title LIKE CONCAT('%',#{option.keyword},'%')
		  		</if>
		  		<if test="option.optionCode == 2">
						b.content LIKE CONCAT('%',#{option.keyword},'%')
		  		</if>
		  		<if test="option.optionCode == 3">
					   	b.title LIKE CONCAT('%',#{option.keyword},'%')
					OR  b.content LIKE CONCAT('%',#{option.keyword},'%')
		  		</if>
		  		<if test="option.optionCode == 4">
				   		b.user_id LIKE CONCAT('%',#{option.keyword},'%')
		  		</if>
		  		
		  )
		ORDER BY reg_date DESC
		LIMIT #{page.index}, #{page.rowsPerPage}
	</select>
	
	<!-- 게시글 개수 - 검색어 포함 -->
	<select id="countWithKeyword" resultType="int">
		SELECT count(*)
		FROM board b  LEFT JOIN users u ON u.user_id = b.user_id
		WHERE b.board_no > 0
		  AND (
		  		<if test="option.optionCode == 0">
						b.title LIKE CONCAT('%',#{option.keyword},'%')
				   OR u.nickname LIKE CONCAT('%',#{option.keyword},'%')
				   OR b.content LIKE CONCAT('%',#{option.keyword},'%')		  
		  		</if>
		  		<if test="option.optionCode == 1">
						b.title LIKE CONCAT('%',#{option.keyword},'%')
		  		</if>
		  		<if test="option.optionCode == 2">
						b.content LIKE CONCAT('%',#{option.keyword},'%')
		  		</if>
		  		<if test="option.optionCode == 3">
					   	b.title LIKE CONCAT('%',#{option.keyword},'%')
					OR  b.content LIKE CONCAT('%',#{option.keyword},'%')
		  		</if>
		  		<if test="option.optionCode == 4">
				   		u.nickname LIKE CONCAT('%',#{option.keyword},'%')
		  		</if>
		  )
	</select>
	
</mapper>






















